.follow {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 100;
    font-size: 26px;
    transition: color .3s;
    cursor: pointer;
    &.icon-collection {
        color: #fff;
    }
    &.icon-collection-fill {
        color: #ffd700;
    }
}